{% extends "skeleton.html.twig" %}

{% block title %}Spieldose{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/styles/app.css">
{% endblock %}

{% block body %}
<div id="app">
    <spieldose-app-component></spieldose-app-component>
    <spieldose-modal-component></spieldose-modal-component>
    <!--
    <form id="frm_signout" method="get" action="/api/user/signout" v-on:submit="signout">
        <button type="submit" class="button">logout</a>
    </form>
    -->
</div>
{% endblock %}

{% block scripts %}
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    -->
    <script src="/scripts/moment.min.js"></script>
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    -->
    <script src="/scripts/Chart.min.js"></script>
    <script src="/scripts/vue-component-menu.js"></script>
    <script src="/scripts/vue-component-dashboard.js"></script>
    <script src="/scripts/vue-component-player.js"></script>
    {% verbatim %}
<script type="text/x-template" id="search-template">
    <div class="field has-addons">
        <div class="control">
            <div class="select is-fullwidth">
                <select v-model="filterByTextOn">
                        <option value="">search on anything</option>
                        <option value="tracks">search on track names</option>
                        <option value="artists">search on artist names</option>
                        <option value="albums">search on album names</option>
                </select>
            </div>
        </div>
        <div class="control is-expanded">
            <input class="input" type="text" v-on:keyup.13="search()" v-model="filterByTextCondition" placeholder="type search text condition">
        </div>
        <div class="control">
            <a class="button" v-on:click.prevent="search()">
                <span class="icon is-small">
                <i class="fa fa-search"></i>
                </span>
                <span>Search</span>
            </a>
        </div>
    </div>
</script>
<script type="text/x-template" id="search-results-template">
    <section v-show="section == '#/search-results'" class="section" id="search-results">
        <spieldose-pagination v-bind:searchEvent="'browseArtists'"></spieldose-pagination>
        <table id="t-search-results" class="table is-bordered is-striped is-narrow is-fullwidth">
            <thead>
                    <tr>
                        <th>Track</th>
                        <th>Artist</th>
                        <th>Album</th>
                    </tr>
            </thead>
            <tbody>
                    <tr v-for="track in results">
                        <td><i title="play this track" class="fa fa-play-circle-o" aria-hidden="true" v-on:click="play(track)"></i> <i title="enqueue this track" class="fa fa-plus-square" aria-hidden="true" v-on:click="enqueue(track)"></i> <span v-html="highlight(track.title)"></span></td>
                        <td><span v-html="highlight(track.artist)"></span></td>
                        <td><span v-html="highlight(track.album)"></span></td>
                    </tr>
            </tbody>
        </table>
    </section>
</script>
<script type="text/x-template" id="chart-template">
    <div class="column is-one-third-desktop is-full-mobile">
        <section class="panel chart">
            <p class="panel-heading"><span class="icon"><i v-if="xhr" class="fa fa-cog fa-spin fa-fw"></i><i v-else class="fa fa-list"></i></span> {{ title }}</p>
            <p class="panel-tabs">
                <a href="#" v-bind:class="{ 'is-active' : interval == 0 }" v-on:click.prevent="changeInterval(0)">All Time</a>
                <a href="#" v-bind:class="{ 'is-active' : interval == 1 }" v-on:click.prevent="changeInterval(1)">Past week</a>
                <a href="#" v-bind:class="{ 'is-active' : interval == 2 }" v-on:click.prevent="changeInterval(2)">Past month</a>
                <a href="#" v-bind:class="{ 'is-active' : interval == 3 }" v-on:click.prevent="changeInterval(3)">Past semester</a>
                <a href="#" v-bind:class="{ 'is-active' : interval == 4 }" v-on:click.prevent="changeInterval(4)">Past Year</a>
            </p>
            <div class="panel-block">
                <ol v-if="items.length > 0">
                    <li class="is-small" v-if="type == 'topTracks'" v-for="item, i in items">{{ item.title + (item.artist ? " / " + item.artist: "") }}</li>
                    <li class="is-small" v-if="type == 'topArtists'" v-for="item, i in items">{{ item.artist }}</li>
                    <li class="is-small" v-if="type == 'topGenres'" v-for="item, i in items">{{ item.genre }}</li>
                </ol>
            </div>
        </section>
    </div>
</script>
<script type="text/x-template" id="chart-template-recent">
    <div class="column is-one-third-desktop is-full-mobile">
        <section class="panel chart">
            <p class="panel-heading"><span class="icon"><i v-if="xhr" class="fa fa-cog fa-spin fa-fw"></i><i v-else class="fa fa-clock-o"></i></span> {{ title }}</p>
            <p class="panel-tabs">
                <a v-bind:class="{ 'is-active' : entity == 0 }" v-on:click.prevent="changeEntity(0)" href="#">Tracks</a>
                <a v-bind:class="{ 'is-active' : entity == 1 }" v-on:click.prevent="changeEntity(1)" href="#">Artists</a>
                <a v-bind:class="{ 'is-active' : entity == 2 }" v-on:click.prevent="changeEntity(2)" href="#">Albums</a>
            </p>
            <div class="panel-block">
                <ol v-if="items.length > 0">
                    <li class="is-small" v-if="entity == 0" v-for="item, i in items">{{ item.title + (item.artist ? " / " + item.artist: "") }}</li>
                    <li class="is-small" v-if="entity == 1" v-for="item, i in items">{{ item.artist }}</li>
                    <li class="is-small" v-if="entity == 2" v-for="item, i in items">{{ item.album + (item.album ? " / " + item.artist: "") }}</li>
                </ol>
            </div>
        </section>
    </div>
</script>
<script type="text/x-template" id="pagination-template">
    <nav class="pagination is-centered level">
        <a class="button is-link pagination-previous" v-on:click.prevent="previous"><span class="icon is-small"><i class="fa fa-caret-left" aria-hidden="true"></i></span>Previous</a>
        <a class="button is-link pagination-next" v-on:click.prevent="next">Next<span class="icon is-small"><i class="fa fa-caret-right" aria-hidden="true"></i></span></a>
        <ul class="pagination-list">
            <!-- vuejs pagination inspired by Jeff (https://stackoverflow.com/a/35706926) -->
            <li v-for="pageNumber in totalPages" v-if="pageNumber < 3 || Math.abs(pageNumber - actualPage) < 3 || totalPages - 2 < pageNumber">
                <a href="#" v-on:click.prevent="navigateTo(pageNumber)" class="pagination-link" :class="{'is-current': actualPage === pageNumber}">{{ pageNumber }}</a>
            </li>
        </ul>
    </nav>
</script>
<script type="text/x-template" id="browse-artists-template">
    <section v-show="section == '#/artists'" class="section" id="section-artists">
        <spieldose-pagination v-bind:searchEvent="'browseArtists'"></spieldose-pagination>
        <div class="artist_item" v-for="artist in artists">
            <a class="view_artist" v-bind:href="'#/artist/' + artist.name">
                <img class="album_cover" v-if="artist.image" v-bind:src="artist.image" />
                <img class="album_cover" v-else src="https://cdn2.iconfinder.com/data/icons/app-types-in-grey/128/app_type_festival_512px_GREY.png" />
                <i class="fa fa-search fa-4x"></i>
            </a>
            <div class="artist_info">
                <p class="artist_name">{{ artist.name }}</p>
            </div>
        </div>
    </section>
</script>
<script type="text/x-template" id="browse-artist-template">
    <section v-show="section == '#/artist'" class="section" id="section-artist">
        <h1>{{ artist.name }}</h1>
        <div v-if="artist" v-bind="artist" class="container">
            <img v-if="artist.image" v-bind:src="artist.image" class="artist-thumbnail is-pulled-left">
            <div class="content is-clearfix" id="bio" v-if="artist.bio" v-html="artist.bio"></div>
            <div class="panel">
                <h2>Albums: <i class="is-unselectable fa fa-2x fa-th-large" v-on:click.prevent="hideAlbumDetails()"></i><i class="is-unselectable fa fa-2x fa-list-ol" v-on:click.prevent="showAlbumDetails()"></i></h2>
                <div class="album_item" v-for="album in artist.albums">
                    <a class="play_album" v-on:click="playAlbum(album.name, artist.name)">
                        <img class="album_cover" v-if="album.image" v-bind:src="album.image"/>
                        <img class="album_cover" v-else="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                        <i class="fa fa-play fa-4x"></i>
                        <img class="vynil no_cover" src="http://fc08.deviantart.net/fs17/f/2007/170/9/8/Vinyl_Disc_Icon_Updated_by_jordygreen.png" />
                    </a>
                    <div class="album_info">
                        <p class="album_name" title="">{{ album.name }} ({{ album.year }})</p>
                    </div>
                    <!--
                    <ul v-if="detailedView">
                        <li v-for="track in album.tracks"><a>{{ track.title }} ({{ track.playtimeString }})</a></li>
                    </ul>
                    -->
                </div>
            </div>
        </div>
    </section>
</script>
<script type="text/x-template" id="browse-albums-template">
    <section v-show="section == '#/albums'" class="section" id="section-albums">
        <spieldose-pagination v-bind:searchEvent="'browseAlbums'"></spieldose-pagination>
        <div class="album_item" v-for="album in albums">
            <a class="play_album" v-on:click="enqueueAlbumTracks(album.name, album.artist)">
                <img class="album_cover" v-if="album.image" v-bind:src="album.albumCoverUrl"/>
                <img class="album_cover" v-else="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                <i class="fa fa-play fa-4x"></i>
                <img class="vynil no_cover" src="http://fc08.deviantart.net/fs17/f/2007/170/9/8/Vinyl_Disc_Icon_Updated_by_jordygreen.png" />
            </a>
            <div class="album_info">
                <p class="album_name" title="">{{ album.name }}</p>
                <p class="artist_name" title=""><a class="view_artist"  href="api/artist/get.php?id=">by {{ album.albumartist ? album.albumartist: album.artist }} ({{ album.year }})</a></p>
            </div>
        </div>
    </section>
</script>
<script type="text/x-template" id="browse-genres-template">
    <section v-show="section == '#/genres'"class="section" id="section-genres">
    </section>
</script>
<script type="text/x-template" id="preferences-template">
    <section v-show="section == '#/preferences'"class="section" id="section-preferences">
    </section>
</script>
<script type="text/x-template" id="spieldose-template">
    <div class="columns is-gapless">
        <aside id="aside-menu" class="column is-1 hero is-fullheight is-hidden-mobile">
            <spieldose-menu-component v-bind:section="section"></spieldose-menu-component>
        </aside>
        <div class="column is-9" id="main-content">
            <spieldose-search v-bind:section="section"></spieldose-search>
            <spieldose-search-results v-bind:section="section"></spieldose-search-results>
            <spieldose-dashboard v-bind:section="section"></spieldose-dashboard>
            <spieldose-browse-artists v-bind:section="section"></spieldose-browse-artists>
            <spieldose-browse-artist v-bind:section="section"></spieldose-browse-artist>
            <spieldose-browse-albums v-bind:section="section"></spieldose-browse-albums>
            <spieldose-browse-genres v-bind:section="section"></spieldose-browse-genres>
            <spieldose-preferences v-bind:section="section"></spieldose-preferences>
        </div>
        <aside id="aside-player" class="column is-2">
            <spieldose-player-component></spieldose-player-component>
        </aside>
    </div>
</script>
    {% endverbatim %}
<script src="/scripts/visualizer.js"></script>
<script src="/scripts/app.js"></script>
{% endblock %}