{% extends "skeleton.html.twig" %}

{% block title %}Spieldose{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/styles/app.css">
{% endblock %}

{% block body %}
<div id="app">
    <spieldose-app-component></spieldose-app-component>
    <spieldose-modal-component></spieldose-modal-component>
    <!--
    <form id="frm_signout" method="get" action="/api/user/signout" v-on:submit="signout">
        <button type="submit" class="button">logout</a>
    </form>
    -->
</div>
{% endblock %}

{% block scripts %}
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    -->
    <script src="/scripts/moment.min.js"></script>
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    -->
    <script src="/scripts/Chart.min.js"></script>
    <script src="/scripts/vue-component-menu.js"></script>
    <script src="/scripts/vue-component-container.js"></script>
    <script src="/scripts/vue-component-search.js"></script>
    <script src="/scripts/vue-component-search-results.js"></script>
    <script src="/scripts/vue-component-dashboard.js"></script>
    <script src="/scripts/vue-component-pagination.js"></script>
    <script src="/scripts/vue-component-browse-artists.js"></script>
    <script src="/scripts/vue-component-browse-artist.js"></script>
    <script src="/scripts/vue-component-browse-albums.js"></script>
    <script src="/scripts/vue-component-browse-genres.js"></script>
    <script src="/scripts/vue-component-preferences.js"></script>
    <script src="/scripts/vue-component-player.js"></script>
    {% verbatim %}
<script type="text/x-template" id="chart-template">
    <div class="column is-one-third-desktop is-full-mobile">
        <section class="panel chart">
            <p class="panel-heading"><span class="icon"><i v-if="xhr" class="fa fa-cog fa-spin fa-fw"></i><i v-else class="fa fa-list"></i></span> {{ title }}</p>
            <p class="panel-tabs">
                <a href="#" v-bind:class="{ 'is-active' : interval == 0 }" v-on:click.prevent="changeInterval(0)">All Time</a>
                <a href="#" v-bind:class="{ 'is-active' : interval == 1 }" v-on:click.prevent="changeInterval(1)">Past week</a>
                <a href="#" v-bind:class="{ 'is-active' : interval == 2 }" v-on:click.prevent="changeInterval(2)">Past month</a>
                <a href="#" v-bind:class="{ 'is-active' : interval == 3 }" v-on:click.prevent="changeInterval(3)">Past semester</a>
                <a href="#" v-bind:class="{ 'is-active' : interval == 4 }" v-on:click.prevent="changeInterval(4)">Past Year</a>
            </p>
            <div class="panel-block">
                <ol v-if="items.length > 0">
                    <li class="is-small" v-if="type == 'topTracks'" v-for="item, i in items">{{ item.title + (item.artist ? " / " + item.artist: "") }}</li>
                    <li class="is-small" v-if="type == 'topArtists'" v-for="item, i in items">{{ item.artist }}</li>
                    <li class="is-small" v-if="type == 'topGenres'" v-for="item, i in items">{{ item.genre }}</li>
                </ol>
            </div>
        </section>
    </div>
</script>
<script type="text/x-template" id="chart-template-recent">
    <div class="column is-one-third-desktop is-full-mobile">
        <section class="panel chart">
            <p class="panel-heading"><span class="icon"><i v-if="xhr" class="fa fa-cog fa-spin fa-fw"></i><i v-else class="fa fa-clock-o"></i></span> {{ title }}</p>
            <p class="panel-tabs">
                <a v-bind:class="{ 'is-active' : entity == 0 }" v-on:click.prevent="changeEntity(0)" href="#">Tracks</a>
                <a v-bind:class="{ 'is-active' : entity == 1 }" v-on:click.prevent="changeEntity(1)" href="#">Artists</a>
                <a v-bind:class="{ 'is-active' : entity == 2 }" v-on:click.prevent="changeEntity(2)" href="#">Albums</a>
            </p>
            <div class="panel-block">
                <ol v-if="items.length > 0">
                    <li class="is-small" v-if="entity == 0" v-for="item, i in items">{{ item.title + (item.artist ? " / " + item.artist: "") }}</li>
                    <li class="is-small" v-if="entity == 1" v-for="item, i in items">{{ item.artist }}</li>
                    <li class="is-small" v-if="entity == 2" v-for="item, i in items">{{ item.album + (item.album ? " / " + item.artist: "") }}</li>
                </ol>
            </div>
        </section>
    </div>
</script>
<script type="text/x-template" id="preferences-template">
</script>
<script type="text/x-template" id="spieldose-template">
</script>
    {% endverbatim %}
<script src="/scripts/visualizer.js"></script>
<script src="/scripts/app.js"></script>
{% endblock %}