{% extends "skeleton.html.twig" %}

{% block title %}Spieldose{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/styles/app.css">
{% endblock %}

{% block body %}
<div id="app">
    <spieldose-app-component></spieldose-app-component>
    <spieldose-modal-component></spieldose-modal-component>
    <!--
    <form id="frm_signout" method="get" action="/api/user/signout" v-on:submit="signout">
        <button type="submit" class="button">logout</a>
    </form>
    -->
</div>
{% endblock %}

{% block scripts %}
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    -->
    <script src="/scripts/moment.min.js"></script>
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    -->
    <script src="/scripts/Chart.min.js"></script>
    <script src="/scripts/vue-component-menu.js"></script>
    <script src="/scripts/vue-component-search.js"></script>
    <script src="/scripts/vue-component-dashboard.js"></script>
    <script src="/scripts/vue-component-browse-artists.js"></script>
    <script src="/scripts/vue-component-browse-artist.js"></script>
    <script src="/scripts/vue-component-browse-albums.js"></script>
    <script src="/scripts/vue-component-player.js"></script>
    {% verbatim %}
<script type="text/x-template" id="search-results-template">
    <section v-show="section == '#/search-results'" class="section" id="search-results">
        <spieldose-pagination v-bind:searchEvent="'browseArtists'"></spieldose-pagination>
        <table id="t-search-results" class="table is-bordered is-striped is-narrow is-fullwidth">
            <thead>
                    <tr>
                        <th>Track</th>
                        <th>Artist</th>
                        <th>Album</th>
                    </tr>
            </thead>
            <tbody>
                    <tr v-for="track in results">
                        <td><i title="play this track" class="fa fa-play-circle-o" aria-hidden="true" v-on:click="play(track)"></i> <i title="enqueue this track" class="fa fa-plus-square" aria-hidden="true" v-on:click="enqueue(track)"></i> <span v-html="highlight(track.title)"></span></td>
                        <td><span v-html="highlight(track.artist)"></span></td>
                        <td><span v-html="highlight(track.album)"></span></td>
                    </tr>
            </tbody>
        </table>
    </section>
</script>
<script type="text/x-template" id="chart-template">
    <div class="column is-one-third-desktop is-full-mobile">
        <section class="panel chart">
            <p class="panel-heading"><span class="icon"><i v-if="xhr" class="fa fa-cog fa-spin fa-fw"></i><i v-else class="fa fa-list"></i></span> {{ title }}</p>
            <p class="panel-tabs">
                <a href="#" v-bind:class="{ 'is-active' : interval == 0 }" v-on:click.prevent="changeInterval(0)">All Time</a>
                <a href="#" v-bind:class="{ 'is-active' : interval == 1 }" v-on:click.prevent="changeInterval(1)">Past week</a>
                <a href="#" v-bind:class="{ 'is-active' : interval == 2 }" v-on:click.prevent="changeInterval(2)">Past month</a>
                <a href="#" v-bind:class="{ 'is-active' : interval == 3 }" v-on:click.prevent="changeInterval(3)">Past semester</a>
                <a href="#" v-bind:class="{ 'is-active' : interval == 4 }" v-on:click.prevent="changeInterval(4)">Past Year</a>
            </p>
            <div class="panel-block">
                <ol v-if="items.length > 0">
                    <li class="is-small" v-if="type == 'topTracks'" v-for="item, i in items">{{ item.title + (item.artist ? " / " + item.artist: "") }}</li>
                    <li class="is-small" v-if="type == 'topArtists'" v-for="item, i in items">{{ item.artist }}</li>
                    <li class="is-small" v-if="type == 'topGenres'" v-for="item, i in items">{{ item.genre }}</li>
                </ol>
            </div>
        </section>
    </div>
</script>
<script type="text/x-template" id="chart-template-recent">
    <div class="column is-one-third-desktop is-full-mobile">
        <section class="panel chart">
            <p class="panel-heading"><span class="icon"><i v-if="xhr" class="fa fa-cog fa-spin fa-fw"></i><i v-else class="fa fa-clock-o"></i></span> {{ title }}</p>
            <p class="panel-tabs">
                <a v-bind:class="{ 'is-active' : entity == 0 }" v-on:click.prevent="changeEntity(0)" href="#">Tracks</a>
                <a v-bind:class="{ 'is-active' : entity == 1 }" v-on:click.prevent="changeEntity(1)" href="#">Artists</a>
                <a v-bind:class="{ 'is-active' : entity == 2 }" v-on:click.prevent="changeEntity(2)" href="#">Albums</a>
            </p>
            <div class="panel-block">
                <ol v-if="items.length > 0">
                    <li class="is-small" v-if="entity == 0" v-for="item, i in items">{{ item.title + (item.artist ? " / " + item.artist: "") }}</li>
                    <li class="is-small" v-if="entity == 1" v-for="item, i in items">{{ item.artist }}</li>
                    <li class="is-small" v-if="entity == 2" v-for="item, i in items">{{ item.album + (item.album ? " / " + item.artist: "") }}</li>
                </ol>
            </div>
        </section>
    </div>
</script>
<script type="text/x-template" id="pagination-template">
    <nav class="pagination is-centered level">
        <a class="button is-link pagination-previous" v-on:click.prevent="previous"><span class="icon is-small"><i class="fa fa-caret-left" aria-hidden="true"></i></span>Previous</a>
        <a class="button is-link pagination-next" v-on:click.prevent="next">Next<span class="icon is-small"><i class="fa fa-caret-right" aria-hidden="true"></i></span></a>
        <ul class="pagination-list">
            <!-- vuejs pagination inspired by Jeff (https://stackoverflow.com/a/35706926) -->
            <li v-for="pageNumber in totalPages" v-if="pageNumber < 3 || Math.abs(pageNumber - actualPage) < 3 || totalPages - 2 < pageNumber">
                <a href="#" v-on:click.prevent="navigateTo(pageNumber)" class="pagination-link" :class="{'is-current': actualPage === pageNumber}">{{ pageNumber }}</a>
            </li>
        </ul>
    </nav>
</script>
<script type="text/x-template" id="browse-albums-template">
</script>
<script type="text/x-template" id="browse-genres-template">
    <section v-show="section == '#/genres'"class="section" id="section-genres">
    </section>
</script>
<script type="text/x-template" id="preferences-template">
    <section v-show="section == '#/preferences'"class="section" id="section-preferences">
    </section>
</script>
<script type="text/x-template" id="spieldose-template">
    <div class="columns is-gapless">
        <aside id="aside-menu" class="column is-1 hero is-fullheight is-hidden-mobile">
            <spieldose-menu-component v-bind:section="section"></spieldose-menu-component>
        </aside>
        <div class="column is-9" id="main-content">
            <spieldose-search v-bind:section="section"></spieldose-search>
            <spieldose-search-results v-bind:section="section"></spieldose-search-results>
            <spieldose-dashboard v-bind:section="section"></spieldose-dashboard>
            <spieldose-browse-artists v-bind:section="section"></spieldose-browse-artists>
            <spieldose-browse-artist v-bind:section="section"></spieldose-browse-artist>
            <spieldose-browse-albums v-bind:section="section"></spieldose-browse-albums>
            <spieldose-browse-genres v-bind:section="section"></spieldose-browse-genres>
            <spieldose-preferences v-bind:section="section"></spieldose-preferences>
        </div>
        <aside id="aside-player" class="column is-2">
            <spieldose-player-component></spieldose-player-component>
        </aside>
    </div>
</script>
    {% endverbatim %}
<script src="/scripts/visualizer.js"></script>
<script src="/scripts/app.js"></script>
{% endblock %}